[2021-09-04 13:48] danecreekphotography opened #2 "Remove usage of button and rotaryencoder libs"
From the [MobiFlight issue](https://github.com/MobiFlight/MobiFlight-Connector/issues/461) elral has good changes to include:

[2021-09-04 13:49] danecreekphotography opened #3 "Update the readme with better instructions"
The readme now is basic and should include links to the necessary extension as well as some additional details on how to build a release version of the firmware to include in MobiFlight releases.

[2021-09-04 13:49] danecreekphotography opened #4 "Remove C# examples from CmdMessenger"
It's a TON of extra files that aren't necessary in the repo since this is the firmware source.

[2021-09-04 13:52] danecreekphotography opened #5 "Verify all the board-specific #define values are correct"
Elral moved the board-specific #define values out into separate files. Double-check they are all correct. It would be bad if my random changes for other things unrelated to this work somehow made it into this repo introduced an error in the values!

[2021-09-04 14:53] #4 closed

[2021-09-04 15:02] #3 closed

[2021-09-05 06:36] elral commented on #2
As far as I know how to issue pull requests I will try to make my first one ;)
I hope it takes not too much time to figure this out...

[2021-09-05 11:21] danecreekphotography commented on #2
@elral the easiest way is if you are in VSCode to use the [GitHub Pull Requests and Issues extension](https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github).

1. Fork this repo
2. In VSCode open the GitHub Pull Requests and Issues tab and look for issues assigned to you (I'll assign this one to you). Hover over the issue and click the little right arrow to automatic

[2021-09-06 08:17] elral commented on #2
@danecreekphotography, thanks a lot for your hints. Took some time to understand, and in the end I had to do step 4 on the github page. Didn't find what you explained.
Hopefully everything went well.
Regards
Ralf

[2021-09-06 12:07] danecreekphotography opened #14 "Config memory location can get overwritten in certain conditions"
From @elral

In the nexr steps readBuffer[] is processed, all "." and ":" are exchanged to NULL (string termination) and for each device pointers are defined which are pointing to this reserved RAM area.
At the end of the function readBuffer[] this RAM area is released, but the pointer are sstill pointing to this RAM area.
In the following program it can happen, that additional RAM is required and

[2021-09-06 12:09] danecreekphotography opened #15 "Reduce RAM usage by centralizing button debounce time"
From elral:

[2021-09-06 12:10] danecreekphotography opened #16 "Reduce RAM usage by centralizing encoder button debounce time"
Similar to #15 but for rotary encoders. From @elral:

[2021-09-06 12:12] danecreekphotography opened #17 "Move servo library and cmdmessenger to platformio library management"
* Fork the current implementation of cmdmessenger and make the necessary tweaks to be compatible with MobiFlight
* Update to newest servo library

[2021-09-06 12:14] danecreekphotography opened #18 "Migrate forked CmdMessenger repo to Mobiflight github account"
* Move https://github.com/elral/Arduino-CmdMessenger.git to MobiFlight github
* Update platform.ini to reference the new github location

[2021-09-06 12:17] danecreekphotography opened #19 "Update to latest version of servo library"
* Update to newest servo library in platformio.ini

[2021-09-06 16:23] danecreekphotography opened #20 "Add CODEOWNERS file"
With mobiflight-admin as the owner

[2021-09-06 16:26] #20 closed

[2021-09-06 16:28] #5 closed

[2021-09-06 16:29] danecreekphotography opened #22 "Bump version number for new release"
Once the following PRs are resolved bump the version number:

#9
#10
#11
#12
#13

[2021-09-06 16:30] danecreekphotography commented on #22
#9 is done

[2021-09-06 16:30] danecreekphotography commented on #16
On hold pending discussion in #15.

[2021-09-08 13:24] elral commented on #2
I "found" that the original library (in platformio.ini "mathertel/RotaryEncoder @ ^1.5.2") got recently some updates. The button and TicksPerSecond lib is not used anymore. Acceleration can now be done via "::getMillisBetweenRotations()". There are some more little changes in MFEncoder.cpp required (which I prepared already). RAM usage is reduced by ~300Bytes!?

BUT encoders with 4 Steps per cycle

[2021-09-08 13:27] danecreekphotography commented on #2
@elral Just to reduce the amount of churn happening in the firmware in a single release (and there's a lot of combined changes for this PlatformIO move), my suggestion is to stick with what you already did that's based on the current version of the library that's well understood for MobiFlight usage.

[2021-09-17 13:48] danecreekphotography opened #27 "Pull version numbers from GitHub releases"
* Use `dev` as the version number for local builds
* Use the GitHub tag version for release builds

[2021-09-17 13:48] #27 closed

[2021-09-20 00:19] danecreekphotography commented on #22
This is now handled by github releases.

[2021-09-20 00:19] #22 closed

[2021-09-20 00:19] danecreekphotography opened #32 "Add support for remote devcontainers"
* Simplifies setting up development for new people to the project
* Enables developing in Codespaces

[2021-09-20 02:06] danecreekphotography opened #34 "Version number isn't inserted into the build correctly"
The version is getting set to "BUILD_VERSION" instead of the value.

[2021-09-20 02:58] #34 closed

[2021-09-20 16:12] elral commented on #16
There is no discussion in#15. Is there another reason why this one is on hold?

[2021-09-20 16:15] danecreekphotography commented on #16
@elral I think there was discussion in Discord about the button debounce change, or maybe I tagged the wrong issue?

[2021-09-20 16:18] danecreekphotography opened #36 "Remove duplicate copy of config buffer"
From https://github.com/danecreekphotography/MobiFlight-FirmwareSource/pull/13#issuecomment-921924372.

Currently a copy of the config buffer is made because strtok_r replaces the delimiter in the original string with a null character. @elral has a proposed solution that will remove this duplicate buffer copy.

[2021-09-20 16:31] elral commented on #36
The idea is only to keep the config once, process this config (replacing the delimiter with NULL) so that all pointers from the devices get there information and do not keep a copy with the original config. This duplicate config is "only" needed if the connectors requires the config vai `void OnGetConfig()`. Instead of sending the duplicate buffer this function now sends directly the content from

[2021-09-21 01:46] danecreekphotography opened #37 "Add changelog and template for pull requests"
There should be a CHANGELOG.md file and a template for pull requests that reminds people to add it.

[2021-09-21 01:51] #37 closed

[2021-09-21 02:06] neilenns opened #39 "Enable overriding components via platformio.ini"
The #defines that determine what components are supported by each firmware are currently set in the board header files with
no way to modify them from the command line of the build. This makes it impossible to generate board variants without
modifying the header file.

Fix this by wrapping each #define with an #ifndef, so it provides the default but can be overridden at compile time.

[2021-09-21 16:35] elral commented on #36
I have to branches with slightly different changes. Both have advantages and disadvantages to discuss. Should I for both make a pull request?
And it would be really good if some one could also test these changes.

[2021-09-21 19:47] danecreekphotography opened #41 "Attach artifacts to pull requests"
Auto attach firmware to pull requests after validation completes

[2021-09-21 19:47] #32 closed

[2021-09-21 20:11] #41 closed

[2021-09-21 20:28] danecreekphotography commented on #36
Open two pull requests, the build system will automatically produce the firmware and attach it as a comment to the PR so it's easy to download and test.

[2021-09-29 13:04] danecreekphotography opened #47 "Board definitions use the wrong define name"
`MEMLEN_NAME` is used instead of `MOBIFLIGHT_NAME`. This error is replicated in main.cpp as well.

[2021-09-29 15:51] #47 closed

[2021-10-09 11:40] #39 closed

[2021-10-09 11:58] neilenns opened #52 "Mega doesn't report back all configuration after reloading configuration"
From Jamie:

[2021-10-09 14:29] neilenns commented on #52
Great! Can you just include a "Fixes #52" comment in the pull request description when you open it? That'll link it to this issue and auto-close it once merged.

[2021-10-17 14:51] neilenns opened #59 "Investigate including the released firmware builds in MobiFlight connector"
From Sebastian on current steps:

There's a GitHub API for requesting info on the latest release:

https://api.github.com/repos/{{owner}}/{{repo}}/releases/latest

Or a specific tag:

https://api.github.com/repos/{{owner}}/{{repo}}/releases/tags/{{tag}}

[2021-10-17 15:06] neilenns commented on #59
Unfortunately there are no C# pre-processor directives that will let you define a string at compile time so it has to be done via msbuild and find/replace. Here's an example: https://stackoverflow.com/questions/7837644/how-to-replace-string-in-file-using-msbuild.

This would wind up being similar to how I replace version strings in KiCad build automation. Have the version be `%%version%%` in `Mobi

[2021-10-17 15:20] neilenns commented on #59
There's an MSBuild task to download files: https://docs.microsoft.com/en-us/visualstudio/msbuild/downloadfile-task?view=vs-2019.

[2021-10-17 16:17] neilenns commented on #59
PowerShell script to do the download is done and works. Here's how to integrate it as an msbuild step: https://docs.microsoft.com/en-us/aspnet/web-forms/overview/deployment/advanced-enterprise-web-deployment/running-windows-powershell-scripts-from-msbuild-project-files.

Then define a project property for the firmware version and use that as the parameter to the script.

Only remaining item is fig

[2021-10-17 19:36] neilenns commented on #59
This is now tracked in the MobiFlight-Connector repo.

[2021-10-17 19:36] #59 closed

[2021-10-18 02:51] neilenns opened #60 "Add release steps to the readme"
Document how to publish a new release to the readme.

[2021-10-28 15:13] neilenns opened #72 "Add CodeTour explaining how versioning works"
* Local vs release builds
* How to override the local build number
* Add CodeTour as a recommended vscode extension

[2021-10-28 21:49] neilenns opened #73 "Add support for input shifters"
Companion issue to https://github.com/MobiFlight/MobiFlight-Connector/issues/449.

I have this written just need to update it based on all the firmware work done recently.

[2021-10-28 23:04] neilenns opened #74 "Uno enables shifters and analog inputs but doesn't allow more than 0 of each"
https://github.com/MobiFlight/MobiFlight-FirmwareSource/blob/6543ed2dab5e5a17628da3993048d14b418a792d/_Boards/Atmel/Board_Uno/MFBoards.h#L31-L32

Either these should have non-zero numbers or support for analog inputs and shifters should be disabled for Uno.

[2021-10-29 00:19] neilenns opened #76 "Expand the number of analog inputs"
Firmware side of https://github.com/MobiFlight/MobiFlight-Connector/issues/526

[2021-11-03 15:46] GioCC opened #80 "Byte count incorrect in shift-out"
The function that sends data out to the shift registers is off by one in the byte count.
The behavior does not cause apparent malfunctions becaus the excess byte is discarded.
Fixed by #79.

[2021-11-07 22:58] #74 closed

[2021-11-07 23:03] neilenns opened #82 "ProMicro filename is wrong"
It's currently "promicro" and should be just "micro" for backwards compatibility with the old firmware process.

[2021-11-08 15:33] GioCC opened #84 "Event handler management could be optimized"
Callback handlers used in MFButton and MFEncoder classes could be optimized in order to simplify code and gain some storage space.
(see also pending pull request) #81

[2021-11-08 19:16] #82 closed

[2021-11-08 19:21] Gamma36 opened #85 "MFLCDDisplay::display() allocates a fixed array of 21 chars. This fails with 40 char LCDs"
The buffer overflow with 40 chars corrupts the class storage, which leads to unpredictable behaviour.

I've rebuilt the Firmware with a new MAX_COL set to 40, uploaded to the Arduino controlling a 40 x 2 display. Works fine now.

Ideally ::attach() would return bool or byte, with an explicit error code for "too many columns". Then
the GUI can take appropriate action.

[2021-11-08 19:38] neilenns opened #86 "Remove CHANGELOG.md"
It's not needed. Also update the pull request template to remove references to it.

[2021-11-08 21:19] #72 closed

[2021-11-08 22:01] neilenns opened #89 "Add CodeTour to recommended VSCode extensions"
Forgot to include this as part of the CodeTour addition. Oops.

[2021-11-11 13:11] neilenns opened #92 "Remove changelog text from mobiflight.cpp"
https://github.dev/MobiFlight/MobiFlight-FirmwareSource/blob/19c7c64c8d7e0607db7531c119c631a1fa07793c/src/mobiflight.cpp#L14-L47

These lines are no longer needed, GitHub tracks all the changes already.

[2021-11-11 14:03] neilenns opened #94 "Devcontainer should use Ubuntu instead of Debian"
The VSCode dev container is currently configured to use Debian as the base Linux image. To better match the GitHub build process this should be Ubuntu instead.

[2021-11-15 21:07] neilenns opened #97 "Encoder behaviour changed with new platformIO build"
Reported in the feedback channel of Discord, encoders that used to work with `(00)` now have different behaviour, confirmed by @elral in local testing.

[2021-11-16 13:54] neilenns opened #99 "Error when uploading config with 9.1.0.1 beta"
Reported in the discord by user jaelee105. The attached configuration loaded without error in 9.1 but results in an upload error with the new firmware beta:

[code]
[FMC1.zip](https://github.com/MobiFlight/MobiFlight-FirmwareSource/files/7546824/FMC1.zip)

This is on a Mega ch340.

[2021-11-19 08:40] MobiFlight-Admin commented on #99
This was fixed with https://github.com/MobiFlight/MobiFlight-Connector/issues/568

[2021-11-19 08:40] #99 closed

[2021-11-20 22:29] #97 closed

[2021-11-21 02:29] neilenns opened #100 "Support Arduino Nano"
Firmware companion to https://github.com/MobiFlight/MobiFlight-Connector/issues/579.

This will require:

* A `board.h` file based off the Uno board
* A new entry in `platformio.ini` to generate Nano builds

No change to the GitHub build process is required, it was designed from the start to expect more Arduino boards in the future.

[2021-11-21 19:27] #86 closed

[2021-11-21 19:28] #92 closed

[2021-11-21 19:29] #80 closed

[2021-11-21 19:34] #94 closed

[2021-11-21 19:34] #89 closed

[2021-11-22 08:37] #85 closed

[2021-11-24 03:55] neilenns opened #101 "Unused header files are checked in"
The following header files are checked in but unused:

* include/MFBoardMega.h
* include/MFCore.h

These should be removed from the repo.

[2021-11-25 19:07] MobiFlight-Admin opened #102 "Increase the Serial Buffer for Receiving Data to match the LCD Screen Messages"
Required to fix/improve this problem https://github.com/MobiFlight/MobiFlight-Connector/issues/346

Optimization of LCD Screen Library still required.

[2021-11-25 19:08] MobiFlight-Admin opened #103 "Improve performance of writing to LCD Display"
Optimization of LCD Screen Library still required.

[2021-11-26 05:30] elral commented on #103
I already made some changes to speed up the library, it's now in the range of the HD44780 lib. But some more tests are required, and maybe some more optimazations.
It seems that it is not going much faster than 20ms for 80 characters, so it might be that more measures than optimization the LCD lib might be required.

[2021-11-26 07:16] MobiFlight-Admin commented on #103
@elral that sounds amazing! i have changed MF so that we can send a string together with a starting position (line, col). This would allow to send only two modified parts of the text. The logic on the Connector side to break it up in pieces is still missing. the Apply function assembles the text respecting all placeholders and such but it is called before the "display" method is called. I didn't f

[2021-11-28 22:03] #101 closed

[2021-11-28 22:12] #102 closed

[2021-11-30 16:43] DocMoebiuz opened #105 "Increase the config buffer to store all devices on a board with 16 characters each"
Allow 69 devices with 16 characters each #287

The worst case is all buttons and with 16 characters each.

[2021-11-30 16:59] #105 closed

[2021-12-01 03:19] ssewell opened #107 "Servo smoothing not enabled in current firmware"
Previously, MFServo used a technique to incrementally move the internal representation of the servo position towards the desired target position over time in conjunction with a deferral for N milliseconds before adjusting the servo position.

This deferral feature was removed in https://github.com/MobiFlight/MobiFlight-Connector/commit/379c5a25e02b7a53612388b4bf9f3b51039de73b

The current behavior

[2021-12-01 03:37] neilenns opened #108 "Fix bad link in README"
Leftover from when the code was originally in one of my older repos. Oops!

[2021-12-01 21:29] ssewell opened #111 "CodeTour references incorrect line numbers"
Underlying changes to the code have resulted in some CodeTour steps referencing incorrect lines.
![image](https://user-images.githubusercontent.com/2242776/144316648-e3aef88e-556c-418c-b250-c1882f4a7f76.png)

@neilenns Suggested that referencing a specific commit may be apt to avoid this issue.

[2021-12-03 14:44] elral opened #113 "Read time for buttons and analog in is wrong"
The intention for reading the buttons was to do it every 10ms. With the current implementation buttons are read every 11ms.
Same for analog reading, intentation was to calculate the average every 10ms, but is 11ms.

In the setup() function an offset for the actual millis() is defined to decouple the read in of the input devices. With 1 ms more it will come to regulary overlap of the read in functi

[2021-12-03 16:51] #113 closed

[2021-12-03 20:46] #108 closed

[2021-12-03 20:47] #111 closed

[2021-12-03 20:49] #107 closed

[2021-12-04 17:41] #76 closed

[2021-12-04 17:41] #103 closed

[2021-12-04 17:42] MobiFlight-Admin commented on #103
Successfully closed, see https://github.com/MobiFlight/MobiFlight-Connector/issues/346 for more information

[2021-12-07 16:13] #84 closed

[2021-12-07 16:16] GioCC opened #115 "Optimization of unused code in command parsing readConfig()"
Not a big deal, but some code can be left off according to compilation options. (Will update with reference to PR).

[2021-12-08 15:05] GioCC opened #117 "No pin check upon definition of OutputShifters"
When Output shift registers are defined, no check is performed in the firmware on whether specified pins are already assigned to other blocks, nor they are marked as used by the shift register (as is done for all other block types).

**It should be considered whether these checks - and the whole recording mechanism for pin allocation - still make sense at all (in the firmware)**, given that they o

[2021-12-08 15:14] neilenns commented on #117
Personally I would *love* to get rid of this check in the firmware.

[2021-12-08 21:11] GioCC opened #119 "Support for HW multiplexer ICs"
Multiplexers can be supported in different capacities:
  - Multiplexing of __direct inputs__: mainly __digital inputs__ (similarly to shift registers), but also __analog inputs__
  - __Routing of (existing) I/O blocks__ (extending them with minor modifications):  e.g.  display drivers, digital I/O shift registers.

First implementation draft in P.R. #118

[2021-12-11 09:34] elral opened #120 "After startup the first step of an encoder is always a fast step"
Sebastian recognized, that after an initial boot the first detent of an encoder is always a fast detection.

Reason is, that _positionTimePrev and _positionTime is not initialized in  MFEncoder::attach() and therefore both have the same value. This results in a high speed calculation.

[2021-12-11 10:09] #120 closed

[2021-12-23 14:29] elral opened #123 "Config Buffer gets filled with unnecessary bytes"
During a config upload from the connector the complete config buffer gets filled with not required bytes. The end of the config is still detected by 0x00, but it is better not doing so and it decreases the upload time.

Sebastian has it already implemented for the upcoming version of the FW.

[2021-12-24 14:32] #123 closed

[2021-12-25 13:02] neilenns opened #125 "Make version number handling more robust"
* Don't require a "v" in front
* Strip off leading and trailing periods

[2022-01-04 07:01] elral opened #127 "Uno and ProMicro crashes after config upload once a stepper is defined"
Once a stepper is defined the Uno and ProMicro crashes after the next or overnext (depends on how many additional devices are defined) config upload. On the Mega it needs ~16 uploads w/o reset in between, so it will be very seldom.

To reproduce it on the ProMicro/Uno, define a stepper and e.g. a button. Upload this config and add an additional device. Upload this config again. Does the uplaod end

[2022-01-04 13:32] neilenns opened #128 "Move string constants to PROGMEM"
There are a couple of strings in the code that are constants (board type, version) but aren't stored in PROGMEM. These are easily movable by using the F() macro.

[2022-01-04 14:11] neilenns commented on #127
I am able to reproduce this locally. I did some digging online and found code that can report the available memory and largest available memory block on an Arduino.

I added this to the firmware and made a new command called `kMemory` that reports the values. I updated the desktop app to call this command on `GetInfo` after `ActivateConfig`. I used my pro micro with an LCD display, button, 5 LEDs,

[2022-01-04 14:16] neilenns commented on #127
For comparison here's what my Mega shows at startup when I have a bunch of devices and a stepper configured:

[code]

And here's what it looks like after uploading the config again:

[code]

[2022-01-04 14:38] elral commented on #127
What I found so far:
1) if you are not using "delete" in the :detach() function, then they do not crash!? What is this??
2) moving the variables from the constructor to an additional :init() function helps also, no crashes anymore. BUT in this case only one stepper can be configured. After configuring the second one the Uno does not start anymore. Why is in this case more memory required than to h

[2022-01-04 14:46] elral commented on #127
@neilenns , seems that at your ProMicro 107 Bytes getting "lost". ~150 Bytes are required for each stepper if you declare them statically.

Could you send me the link for reporting the used memory? I have also somewhere some code from past days, but I have to search it.
And I added a kind of "debug print out" in the connector (will show up in the debug window) and firmware, maybe we can align this

[2022-01-04 14:59] neilenns commented on #127
I have an LCD displayed as well so that might account for the remaining 107 bytes?

I pushed two branches for you: [Firmware that adds the kMemory command](https://github.com/neilenns/MobiFlight-FirmwareSource/tree/fragmentation) and [desktop app that has a GetMemoryStats() method](https://github.com/neilenns/MobiFlight-Connector/tree/fragmentation) called on `GetInfo` and `ActivateConfig`.

[2022-01-04 15:13] elral commented on #127
That's what I found from the past:
`unsigned int get_mem_free (void);
unsigned short get_mem_unused (void);

#endif /* MEM_CHECK_H_ */

/*
Dabei liefert get_mem_free() den derzeit freien Speicher zwischen Stack
und Heap.
get_mem_unused() liefert die Speichergröße, die noch nicht "angerührt"
wurde. Allerdings funktioniert dies dann aber nicht mehr, wenn man mal
malloc() aufgerufen hat, weil dann da

[2022-01-04 16:07] neilenns commented on #127
@GioCC I was thinking of something similar after reading around online a bit. Was thinking of looking for a library that would handle the management, but as you point out the needs of the firmware are pretty simple.

[2022-01-04 16:18] GioCC commented on #127
TBH it's something that I had in my bucket list, but (a) there's already very much going on at the moment (Hooray!!! :D) and (b) I won't claim to be able to work 25/8, even during the holidays... but I'm certainly up for it as soon as I manage to find the time.

[2022-01-05 14:15] #128 closed

[2022-01-05 15:46] neilenns opened #130 "Analog-specific variables aren't omitted if analog is disabled"
The variables used for last analog read/last analog average aren't ifdef'ed like the rest of the analog code. In addition some of the updates to the last read variables aren't ifdef'ed either.

https://github.com/MobiFlight/MobiFlight-FirmwareSource/blob/3d7bc58a3a860e312d6dc1d433683ca220096bd8/src/mobiflight.cpp#L62-L63

https://github.com/MobiFlight/MobiFlight-FirmwareSource/blob/3d7bc58a3a860e3

[2022-01-05 20:11] #115 closed

[2022-01-05 22:17] #73 closed

[2022-01-06 11:57] elral commented on #127
Very strangge things are going on. And now after a couple of hours I found out that MemInfo functions mentioned above from Neil can also cause a crash.
OK, so starting again from scratch with my investigations...

[2022-01-06 13:42] neilenns opened #131 "Input shifters aren't wrapped in a define for retrigger"
https://github.dev/MobiFlight/MobiFlight-FirmwareSource/blob/b9e6244a9763747256213419c6e9078255fe1f0c/src/mobiflight.cpp#L1241-L1242

[2022-01-06 14:42] #131 closed

[2022-01-06 14:47] neilenns commented on #117
@GioCC I think I'll take a few minutes today to try removing this stuff and see how much ram/flash it frees up.

[2022-01-06 14:57] neilenns commented on #117
![image](https://user-images.githubusercontent.com/9524118/148402444-d692b09d-1587-4502-908b-453e7e11262f.png)

[2022-01-07 15:54] GioCC commented on #127
@elral about the multiplexers (or any other device, really) you're right, in fact I had to temporarily disable Steppers in order to have at least enough memory to get them working; and the real offender BTW was the flash space (obviously RAM was on the edge too).

[2022-01-07 21:30] GioCC commented on #117
Granted, not a huge impact (still welcome though, why waste?); however it's also very much about consistency.

[2022-01-07 22:08] neilenns commented on #117
@GioCC I agree it's not huge but we are so constrained on RAM and flash that every little bit helps. This check is already done on the desktop side, it seems unnecessary to spend the RAM and flash doing it as well on the firmware side.

[2022-01-08 00:00] GioCC commented on #117
@neilenns Yes, exactly my first point. And I think this topic deserves a good deal of focus in the next changes.

[2022-01-08 03:21] neilenns opened #136 "Get rid of MFOutput.cpp?"
In looking at the code for unrelated reasons I realized that the `MFOutput` class is pretty much useless. The only place any of its methods ever get called is for power saving. Seems like we're spending an awful lot of RAM and Flash overhead to maintain a class that only gets used for one method.

Perhaps we can do this in a more streamlined way with basic bit arrays? One to indicate whether a pin

[2022-01-08 03:22] neilenns commented on #136
@GioCC have you ever explored this?

[2022-01-08 03:41] neilenns commented on #136
My first quick and dirty attempt using a library that implements a `BoolArray` was not promising at all. Saved a teeny bit of ram at the expense of quite a bit of flash.

[2022-01-08 07:45] elral commented on #127
Yes, the stepper lib needs quite a lot of RAM and Flash. Even with the RAM saving I have implemented and maybe same additional one (I expect only minor savings futhermore like Neil also stated in issue 136) it could be that more devices do not fit anymore into the RAM/Flash of the Uno/ProMicro.
And that could happen with your multiplexer, whereby it should be also discussed if it makes sense for t

[2022-01-08 08:30] elral commented on #136
Hmhm, you have to store the pin number anyway. Additionaly the old status is stored, which could be also a PWM value. So a bit array seems indeed not to have any advantage for the outputs.

I see a bigger chance to save RAM for the MFButton.cpp. As far as I remenber for the actual status and the old status one byte is used, whereby only 1 bit would be required for each status. In theory you could

[2022-01-08 09:23] GioCC commented on #127
Unfortunately I think we're already scraping the bottom of the barrel by just trying to optimize individual devices (which is still welcome anyway, where possible).
In my opinion the most promising way to go to reclaim memory is to get rid of the RAM config buffer (this is what you told me you were already working on, isn't it?) and most of all, controlled dynamic allocation of required devices. H

[2022-01-08 10:07] elral commented on #127
Regarding the configBuffer I fully agree, and I already prepared everthing. Parts of it I used for reducing the size as now only the names of the input devices are stored in the configBuffer. It is an easy next step to get rid of the complete configBuffer.
But, this would mean changes on the connector side I am not able to do this. And it is a topic of backwards compatibility what @MobiFlight-Admi

[2022-01-08 10:09] GioCC commented on #136
@neilenns , no, i haven't yet.

About the use of a "BoolArray", I used a similar class several times in other projects; it was also in the MF overhaul I proposed to Doc long time ago.

Theoretically, I'm confident it might still be beneficial, but there are several drawbacks:
1. it severely increases coupling between objects
2. in order for it to be fully exploited, the impact on the implementatio

[2022-01-08 11:00] GioCC commented on #127
Sorry, I realized maybe I created some confusion.

My aim is not to use _dynamic allocation properly meant_.
The proposed solution would be to reserve a "big" static buffer with a manager class that incrementally assigns chunks of it to whatever device requests it.

I called it "dynamic" as opposed to "fixed preallocated space for a fixed number of devices".

As I mentioned somewhere else, the man

[2022-01-08 11:17] GioCC commented on #127
Probably not the correct place for this, but I'll just also mention this:

the main drawback of the "allocation manager", and currently my main worry about this, is that the GUI would not be able to determine when the user is running out of space and therefore can no longer allocate devices.

Currently, the limit warning is based on the known max device numbers; in order to work in the new situati

[2022-01-09 23:29] #136 closed

[2022-01-11 07:53] elral commented on #127
Does somebody know what this warning means and how to avoid this?
`src\MF_Modules\MFLCDDisplay.cpp: In member function 'void MFLCDDisplay::detach()':
src\MF_Modules\MFLCDDisplay.cpp:40:10: warning: deleting object of polymorphic class type 'LiquidCrystal_I2C' which has non-virtual destructor might cause undefined behavior [-Wdelete-non-virtual-dtor]
   delete _lcdDisplay;`

What I have read this "

[2022-01-11 09:19] GioCC commented on #127
I believe that boils down to none of the classes in the derivation chain (`Print `<- `LiquidCrystal_I2C`) having a destructor defined as virtual (i.e. "don't have my own one, use somebody else's"), therefore `delete()` can't guarantee which destructor(s) will actually be executed.
As a matter of fact, defining a virtual destructor in either of the two classes (e.g. `virtual ~LiquidCrystal_I2C(){}`

[2022-01-11 09:30] GioCC commented on #127
I believe that boils down to none of the classes in the derivation chain (`Print `<- `LiquidCrystal_I2C`) having a destructor defined as virtual, therefore `delete()` can't guarantee that all destructor(s) according to the class of the actual object will be executed.
As a matter of fact, defining a virtual destructor in either of the two classes (e.g. `virtual ~LiquidCrystal_I2C(){}`) satisfies th

[2022-01-11 09:37] GioCC commented on #127
About the order of `delete`s, that should not also matter, as long as you delete everything in the end (as we do); and then, I would expect everything to be in order, unless the heap management _really_ sucks (which might well be, in a small embedded system).

But don't just take my word, I haven't factually verified this.

[2022-01-11 13:28] GioCC opened #137 "Update "Shifter" naming (as "OutputShifter") for better consistency"
Just a cosmetic measure, but avoids confusion with InputShifters (and looks cleaner).
Involves several names inside the code, but it's just a matter regarding the source code with no functional impact.

[2022-01-11 13:30] GioCC opened #138 "Change internal data structure of (output) Shifters"
For consistency with InputShifters; use a byte array in place of a fixed word.
No practical advantages currently.

[2022-01-11 23:16] neilenns commented on #138
Agreed, it always bugged me that it wasn't done using arrays.

[2022-01-12 08:51] GioCC commented on #138
It has a rationale, though, because exceeding 32 bits is rather unlikely; that would mean a longer hardware chain and that's not something you would want to have. But hey, it bugged me a little too.

[2022-01-13 09:17] elral commented on #127
@GioCC

from a high point of view I understood what you are proposing, but it seems that some deeper knowledge is required. I had a look around regarding `placement new`, but only less information espacially regarding classes can be found. The less examples I already tried to transfer, but I got compilation errors while using this (even I read that Arduino should support this since 2019).  The oth

[2022-01-13 10:28] elral commented on #127
Ohmm, #include <new> does help ;)

[2022-01-13 11:06] GioCC commented on #127
@elral Not sure what you are referring to exactly, but I have the feeling it's something very promising! :D

[2022-01-13 12:36] elral commented on #127
@GioCC , I took your execellent proposol regarding `placement new` and wrote a small function to allocate the memory for the output devices within a static buffer. I only forget to `#include <new>` which cost me a lot of hours :(
Clearing the memory is much easier as you already told we don't have to care about deleting single devices.

Next I declared LCD, 7Segments, Servo and Stepper dynamically

[2022-01-13 13:28] GioCC commented on #127
That's great! As I mentioned, it looks pretty straightforward (which means much less chance of bugs or issues), and yet very effective. I'm looking forward to the significant improvements that can be achieved! Bravo Ralf ;)

[2022-01-13 13:40] elral commented on #127
Thanks!
If this really works stable, we can think about to init more devices dynamically (where it would make sense). On the bad side this would mean changes on some devices. But the advantage would be that the user has much more flexibility in choosig these devices he need. He is "only" limited by the maximum of the buffer.

[2022-01-13 13:53] DocMoebiuz commented on #127
Sounds super cool! Congrats guys for making these first steps - i was really worried in the beginning when i first read about it. That would be very very cool

[2022-01-13 13:55] GioCC commented on #127
Exactly! And I think it can be rather groundbreaking. Think e.g. of getting rid of LCD, Servos and Steppers in one go for a board that does not use them. How much more space you can gain for other stuff (or the opposite, of course)!

[2022-01-13 13:56] GioCC commented on #127
@DocMoebiuz You can trust us... we mean no harm ;)

[2022-01-13 14:43] neilenns commented on #127
This is fascinating, I had no idea "placement new" was a thing!

[2022-01-13 16:09] DocMoebiuz commented on #127
I meant i was worried it might become clunky and cumbersome but it looks pretty straight forward and not overly complicated.

[2022-01-13 16:11] DocMoebiuz commented on #127
now that you say it explicitly, i am starting to get worried 😂

[2022-01-13 17:34] GioCC commented on #127
Sorry I meant...: Resistance is futile. 😂😂😂

[2022-01-13 19:41] elral commented on #127
Some more tests shows clearly, that we have to save RAM where ever we can for the Uno and ProMicro. For the Uno I ended up  with a configBuffer of 50Bytes (only Input names will be saved) and a "DeviceBuffer" of 120 Bytes to get the Uno stable (multiple config loads w/o crash). Compiling with these sizes results in 1.898 Bytes from 2048 Bytes. If the buffersize will be increased, the first startup

[2022-01-14 08:26] elral opened #140 "Mega/ProMicro/Uno can crash after upload if 4 7Segments are configured"
Once 4 7Segments are configured and an new config upload is done, all boards can crash. With an own Buffer for the device they will crash.

Before the new config will be uploaded, all devices are cleared. Within `ClearLedSegments()` the for loop shall clear all configured devices, but instead the loop variable `ledSegmentsRegistered` is used and there the buffer size is exceeded.

Solution is to e

[2022-01-14 09:05] elral commented on #127
I did some more changes, all devices are now initialized dynamically. This will save some more memory which can be used for the new "deviceBuffer" and the ConfigBuffer. This also adapted now for the ProMicro and Uno.
The memory consumption for the device is now:
- Encoder: 31 Byte
- Button: 4 Byte
- 7Segment: 24 Byte
- Stepper: 68 Byte
- Servo: 3 Byte
- LCD: 14 Byte
- Analog: 29 Byte
- Output: 2 B

[2022-01-14 09:19] DocMoebiuz commented on #127
that's great! have you done the math to check whether the currently defined number of devices for the boards would fit into these buffers?

[2022-01-14 10:32] GioCC commented on #127
I can't promise about how much testing I will be able to do these days, but I would appreciate if you could send me the link to the code to have a go.

[2022-01-14 10:44] elral commented on #127
Oh je,
the firmware can be found under [https://github.com/elral/MobiFlight-FirmwareSource/tree/AccelStepper_static](url), the Connector with very less changes in MobiFlightModule.cs (Debug...) under [https://github.com/elral/MobiFlight-Connector/tree/debug_print](url)

All devices (incl. InputShifter) together need (size of deviceBuffer):
Uno: 462 Byte (286 Byte)
ProMicro 713 Byte (440 Byte)
Mega

[2022-01-14 10:52] GioCC commented on #127
Thanks, I'm looking forward to having a good look at it. In the meantime, enjoy your holidays!

[2022-01-14 11:10] GioCC commented on #127
A random thought: you could save some more bytes by using the F() macro in the debug prints (`cmdMessenger.sendCmdArg("...")`), at least for the arduinos which are not already almost out of flash.

[2022-01-19 17:38] elral commented on #140
The same applies to the steppers, servos, LCD's and shifters.
I am wondering if this is the reason the boards crashed? Hmhm, but the crash was not during deleting the devices but during loading the new config.
I will update the pullrequest accordingly.

[2022-01-19 21:07] elral commented on #127
This issue might be related to issue #140.
Some more tests are required.

[2022-01-19 21:08] elral commented on #140
Might be related to issue #127.

[2022-01-20 14:04] neilenns opened #142 "Make generateSerial() use a define for randomSeed()"
`generateSerial()` currently initializes the random number generator by reading from analog pin `0`. The pin read should be moved to a define in `MFBoards.h` for flexibility when supporting other board types in the future.

Suggested indirectly by @elral in one of his private branches. Creating the issue and opening the PR to make it happen in the mainline code independent of other code changes.

[2022-01-20 17:23] neilenns opened #144 "Move common platform.ini pieces to a shared environment block"
Right now most of the settings across the different board types are repeated in the platformio.ini file. These can instead use the common `[env]` section and then get referenced in the board-specific sections.

[2022-01-25 12:58] elral commented on #127
While working on this issue and creating the pull request, I also touched the part of uploading the config (already changed to write directly to the EEPROM).
But there is still one topic which I don't really understand and I can't see by evaluating the firmware.
The order of uploading a new config for the first steps is clear:

1. with kResetConfig (13) all devices are cleared
2. with kSetConfig (

[2022-01-25 13:57] GioCC commented on #127
If I haven't misread what you need, the config upload is made in `MobiFlightModule.cs` / `SaveConfig()` (around line 770).
Looks like it's the only place where the commands `Command.SetConfig` / `Command.ResetConfig` are issued.

[2022-01-25 14:22] neilenns commented on #127
When I was working on my custom firmware that fakes out MobiFlight and generates its config on the fly here's the flow I traced when saving a config from the desktop:

	1. kSetName
	2. kResetConfig
	3. kSetConfig
	4. kSaveConfig
	5. kActivateConfig
	6. kResetBoard
	7. kGetConfig

[2022-01-25 15:37] elral commented on #127
@GioCC yes, that's what I am looking for.

@neilenns oh yes, good hint with `kSetName` and that a `kResetBoard` is really initiated after `kActivateConfig`.

But then I am still wondering why the `kResetBoard` is done. After `kActivateConfig` everything is done, a ResetBoard seems not to be required....

[2022-01-25 16:11] GioCC commented on #127
@elral Really looks like a leftover from a previously used (or different) sequence... in this procedure it actually seems redundant, I imagine it could make sense (besides obviously on boot) if the config buffer on RAM was somehow thought to be corrupted - but even in that case, not by an upload error, otherwise the EEPROM would have been likely be corrupted too.

[2022-01-28 08:43] elral opened #148 "Split mobiflight.cpp into multiple files"
@MobiFlight-Admin @neilenns @GioCC
During creating the last pull request it was some kind of "difficult" to keep the overview in mobiflight.cpp. A lot of scrolling through the file was required to find all related parts of the code.
PlatformIO has better capabilities to use multiple files than the Arduino IDE, and discussions in the past shows that all of us agree to split mobiflight.cpp into seve

[2022-01-28 09:48] GioCC commented on #148
I absolutely subscribe to this idea. In the weekend I'll have a look, but I'm confident of your judgment.

[2022-01-28 14:38] neilenns commented on #148
I would *love* this. It will reduce the chance of merge conflicts when people are working on different parts of the firmware at the same time.

Instead of adding additional files can we move the methods to static methods on the associated classes? Then everything for analog would live in MFAnalog, everything for output would live in MFOutput, etc. (I don't know if this would actually work, just wo

[2022-01-28 15:27] elral commented on #148
@neilenns This was exactly the point where I was unsure and thought about a couple of days. In the end I came up to move it into separate files because I treated the classes as a kind of "library" and that I was unsure if this will work to have the existing functions in the files for the classes (in the mean time a saw it this way in another project).

This weekend I could set it up e.g. for the a

[2022-01-28 16:07] neilenns commented on #148
If static methods work the advantage would be everything about each module type would live in one place. We'd never have to go "wait, is that method in output.cpp or MFOutput.cpp? 🤔"

[2022-01-28 17:23] GioCC commented on #148
I agree with @neilenns , in fact, that's exactly one of the first thoughts that came through my mind as I went to browse the code.
Although it's also true that there is a sensible distinction between the content of the two file sets. I have to think about it a little (I'm still on the job as of now).

[2022-01-29 16:46] #130 closed

[2022-01-29 16:54] #140 closed

[2022-01-29 16:58] #142 closed

[2022-01-29 17:00] #144 closed

[2022-01-30 21:31] GioCC commented on #148
OK, I have had a look and I'm ready to give you my 2cent feedback.

First of all, full thumbs up for the code split, but I think that was already settled.

About the alternative to join all code pertaining to a device vs having two distinct files (i.e. "`MFButton.cpp`" vs "`MFButton.cpp`"+"`button.cpp`"), I had a little afterthought. (I'll use "button" as example)

Although I initially agreed with

[2022-01-30 22:13] neilenns commented on #148
One way I've handled this in the past is to put Add-style methods into a static `DeviceManager` class. That would solve the problem of them going somewhere that makes sense conceptually, instead of in the actual device class.

Unfortunately I'm not sure that really makes things much better, as it would just move the bulk of the length of mobiflight.cpp into another file that would also be quite lo

[2022-01-31 08:16] GioCC commented on #148
@neilenns 100% agree. In order to keep things most manageable, one could have e.g. two classes as `InputDeviceManager `and `OutputDeviceManager`. Maybe not really conceptually justified, but that would do the trick.
Beside that (and I did not want to go that far for fear of digressing), it would be a good step towards a full objectification of the code.

[2022-01-31 08:17] GioCC commented on #148
Beside that (and I did not want to go that far for fear of digressing), it would be a good step towards a full objectification of the code.

[2022-01-31 16:40] elral commented on #148
@neilenns and @GioCC thanks for your comments!

Just for my understanding (I am not soo familiar with the wording :( ), setting up two classes would mean e.g. for the inputs:
`InputDeviceManager::InputDeviceManager()` <- hmmhmm, but what should be initialized
`InputDeviceManager::Analog_update()`
`InputDeviceManager::Analog_readBuffer()`
.....
`InputDeviceManager::Encoder_attach()`
`InputDeviceMan

[2022-01-31 16:46] neilenns commented on #148
I would do the managers as fully static classes so they don't require memory allocation and wouldn't have a constructor.

I'll take a peek later today and mock up and example. I'm not at all sure it is a good approach 😂

[2022-01-31 19:28] GioCC commented on #148
Hoping to be on topic with what you ask, this would be my answers:
- using classes here would not contribute much, if anything, in terms of clarity; it would make the code a little more uniform in case it should ever be decided to go towards a "pure" C++ structure (see also below)
- ("splitting up the device" is probably related to the previous point or the next one; can't read a question)
- Memor

[2022-01-31 19:30] neilenns commented on #148
Yup. And in my mind the only advantage to the static class is making it clear when those functions are called where they're coming from instead of just being random functions that magically somehow work. Of course that could also be accomplished with a namespace instead of a static class...

[2022-01-31 19:34] #138 closed

[2022-01-31 19:37] GioCC commented on #148
Also true!

[2022-02-01 20:09] elral commented on #148
@GioCC @neilenns thanks again for your comments.

I will try to summarize the comments and to see, if I have understood everything correct.

* The device classes (MFAnalog.cpp, ...) should be kept as they are.
* The "manager" functions (do we find a better name ;) ) should be bundled in a file for input and a file for output devices. There will be a third one for the config and cmdmessenger stuff.

[2022-02-02 09:24] GioCC commented on #148
That would be a defined scenario; I, personally, would be fully satisfied with that.

[2022-02-02 14:21] elral commented on #148
OK, thanks for the big support from @GioCC!
With this help I moved the input devices to one file with namespaces (hopefully, was the first time ;) )
A short check if this is what you mean would help me before moving the output devices to the second file.

[2022-02-02 14:52] neilenns commented on #148
@elral Do you have a branch for it? Where? :D

[2022-02-02 16:03] elral commented on #148
@neilenns yes, in my first post is the link. Once everything is "done" I will issue a pull request.

[2022-02-02 16:06] neilenns commented on #148
@elral Did you push your latest changes? https://github.com/elral/MobiFlight-FirmwareSource/tree/multiple_files still has individual files like you originally had, I don't see namespaces for it.

[2022-02-02 16:14] elral commented on #148
@neilenns I "just" did it for the input devices, outputs will be done when it goes into the correct direction
https://github.com/elral/MobiFlight-FirmwareSource/blob/multiple_files/src/inputMgr.cpp
and accordingly the .h file and changes in the other files changed today

[2022-02-02 16:21] neilenns commented on #148
Ah, I see it now.

This wasn't quite what I was thinking. I was thinking there would just be a single `InputManager` namespace with all of the relevant methods in it (`handleInputShifterOnChange`, etc.). That would work for most methods, but things like `Add` are problematic (I hadn't thought about the Add methods).

As done now it really feels odd. There's no advantage to a single file with a bun

[2022-02-02 17:23] neilenns commented on #148
Yeah, I'm fine with that, I'm just saying the current namespace example isn't any better than what we have now.

Maybe separate files + namespace is the answer?

[2022-02-02 17:24] GioCC commented on #148
Right now, I'm fighting hard to keep myself from trying to undertake a more thorough (but sensible) refactoring... and I know that I will lose against myself.

[2022-02-02 17:32] neilenns commented on #148
It's still a large file and has multiple things in it that don't really have anything to do with each other. Something about a single source file with that many namespaces in it too just feels... wrong. If I want to go make a change to one of those methods I'm still opening a huge file and having to ctrl+F to find what I need.

The thing I didn't like about single files was how the functions would

[2022-02-02 17:50] GioCC commented on #148
Well, not _that_ large a file, considering it's still a fraction of the one that we wanted to split in the first place... but I see your point.
The other annoying thing about having many small files is also that you have less of an overview, and you have to open a lot of them if you look for something.
But I think that at this point any of these solutions could work, one way or another.

[2022-02-02 18:12] elral commented on #148
That would also my preferred solution. I like it more to have "multiple" flles instead of one big file, for me it's easier to know which file to open instead of searching in a big file. It gives also the possibility to use different inlude paths if a device should be included or excluded (instead of defines and encapsulating in the file, but (maybe?) more stuff in platformio.ini).
The namespace is

[2022-02-02 18:57] GioCC commented on #148
Good then, looks like we finally have a solution! :D
However, at this point the whole question about namespaces becomes rather moot... their only actual purpose would be to allow you to call functions e.g. `Button::Add()` or `Encoder::Add()` instead of `Button_Add()` or `Encoder_Add()`, which seems pretty pointless.

[2022-02-02 18:59] neilenns commented on #148
It's not pointless, it saves having to prefix all the function names with `Button_` 😂 That's what namespaces are for!

[2022-02-02 19:02] GioCC commented on #148
How is it different from prefixing them with `Button::` (and possibly forgetting or mixung up some of them)?
They are meant to be used elsewhere in the code, not just in their definition.

[2022-02-02 20:46] #137 closed

[2022-02-03 15:22] elral commented on #148
Puuuh, changed everything from the inputs back to multiple files w/ namespace and added namespace for the outputs. There are no more dependecies directly between the devices. Some failures from merging the outputshifters (renaming) are also corrected.
Hopefully now comes the finetuning ;)

What I also saw:
OnSetPin() for the outputs uses directly analogWrite(pin,state) and not the class function o

[2022-02-03 20:02] DocMoebiuz opened #151 "Brightness of 0 shall turn off the LED Display Module completely"
**Is your feature request related to a problem? Please describe.**
The brightness control allows to dim the displays. 0 however is very dim, and not completely turned off.

**Describe the solution you'd like**
It would be great to have the display turn off completely when brightness is 0.

**Describe alternatives you've considered**
We could leave it as it is and the user would have to create a co

[2022-02-03 20:03] #151 closed

[2022-02-03 20:12] DocMoebiuz commented on #148
Hey cool! it is a lot better!!!! GREAT JOB.

Idea: Can we not bundle the MFButton.cpp and Button.cpp together in one directory and get rid of the MFModules folder and use MF Analog, MFButton, etc,  instead?

I don't understand the specfic reason for splitting it up in MF_Inputs and MF_Outputs.

[2022-02-04 05:44] elral commented on #148
For the folders there were only the reason that not all files should be on the same order and to group them. @DocMoebiuz I guess your proposal goes into the same direction I mentioned aboved.

This would mean for every device one folder with the required files (e.g. Analog.cpp, MFAnalog.cpp and their .h files). Within platformio.ini it will be defined which folder has to be used (which works also

[2022-02-04 08:04] GioCC commented on #148
I personally don't think is a good idea. One folder per device would mean an awful fragmentation, with the result that navigating the source would be even worse than the situation we started from in the first place.

Also, conditional compilation by "hiding" folders wold not be a good idea either:
- the optional code would still need to be referenced in the main section(s) , therefore we would sti

[2022-02-04 08:07] GioCC commented on #148
No, it can be definitely done - I usually find it much better that way, unless there are _really_ lots of files (but even in that case, I split file groups keeping .c/cpp and .h/hpp together).

[2022-02-06 13:36] #127 closed

[2022-02-07 05:38] elral commented on #117
The pin check mechanismus is eliminated with merging the pull request #147 . So this issue can be closed too.
Unfortenutely I forgot to mention this issue in the pull request.

[2022-02-08 14:00] neilenns commented on #148
I took a peek at the pull request and the general structure makes sense to me. It does look like the pull request incorporates a lot of other changes beyond this splitting into multiple files though. I see switches to using `#pragma once`, new `#if` statements for controlling debugging, new methods for setting the last button press time, etc. Was that intentional?

[2022-02-08 18:51] neilenns commented on #148
Ultimately it's up to @DocMoebiuz, but personally I prefer pull requests that are "single subject". It has several advantages:

1. It makes it easier for code reviewers. They can go into the review knowing they are looking at a specific improvement/change, and watch for stray things that might have accidentally crept in. It also means they can assume all the changes are about that one improvement,

[2022-02-22 20:13] neilenns opened #155 "Output shifters are broken with beta firmware"
Offending line is here: https://github.com/MobiFlight/MobiFlight-FirmwareSource/blob/46969cae100fd93189a51e443c935926a9234f80/src/MF_Modules/MFOutputShifter.cpp#L91

It's off by one, it should be using `i - 1` for the index into the `outputBuffer` array.

[2022-02-22 20:15] neilenns commented on #155
This was introduced in #139 (https://github.com/MobiFlight/MobiFlight-FirmwareSource/commit/7c374ef94afb756a67c812841c5421781a2b181d)

[2022-02-24 06:43] elral opened #158 "Configuration of a LCD with 8x2 characters leads to crash of the Arduino"
After configuration of a LCD with 8x2 characters the firmware crashes on bootup.
Within the test() function from MFLCDDisplay.cpp more characters then fit on the LCD are written.

[2022-02-24 11:51] GioCC opened #159 "Introduce an official setting for the VS Code C/C++ autoformatter"
In order to have a consistent code formatting, avoiding the recurring discrepancies in commits, we could conveniently use the automatic formatter of the standard "C/C++" plugin of VSCode, with a project-based setting.

This could be accomplished by having a `settings.json` file saved in the `.vscode` directory of the project; attached is a sample with my current settings.

Reformatting can be made

[2022-02-24 13:46] GioCC commented on #159
Link to [CLang formatting options](https://clang.llvm.org/docs/ClangFormatStyleOptions.html)

[2022-02-25 12:54] elral commented on #159
For me it is important that we all have the same settings, however they are. I am not very familiar with these settings, so I will use what every body else thinks is sensefull.

[2022-02-25 15:30] #117 closed

[2022-02-27 10:10] #155 closed

[2022-02-27 13:52] neilenns opened #161 "Increase button count on the Uno"
Firmware side of https://github.com/MobiFlight/MobiFlight-Connector/issues/715

[2022-02-28 09:49] #148 closed

[2022-03-01 18:35] DocMoebiuz opened #163 "LCD Screen = Use normal MobiFlight Rocks message"

[2022-03-01 18:36] #161 closed

[2022-03-01 20:10] #163 closed

[2022-03-07 07:27] elral commented on #100
Last days I got an Arduino Nano clone, and I figured out that this clone has still the old bootloader installed in contrast to original Nano's which have a new bootloader.
Within Platformio.ini one can differ between both, but I am afraid that users will run in similiar problems like with the Uno clones unless there is solution how to explicitly choose a board in the Connector for flashing the fir

[2022-03-08 08:50] GioCC opened #165 "Demo message can prevent programming of older Megas"
I had a strange issue lately: a firmware that compiled flawlessly could not be flashed on one (or several) of my Megas.

The flashing process started regularly but got stuck every time towards the end:

[code]
After some digging on Google, it turned out that some older Mega firmware versions would detect a sequence of three exclamation marks in the data stream and interpret them as a switch to a t

[2022-03-08 13:29] neilenns commented on #165
This is an amazing bug, way to chase down what caused it!

[2022-03-09 05:44] elral commented on #165
Yes, I read about this some weeks ago while searching for a complete other topic. But if you had asked me what the problem might be, I hadn't recall this.

[2022-03-09 05:59] elral commented on #159
I tried this on my firmware for the motorized Trimwheel/Throttle and was wondering, that nothing has changed. Now I found with Autosave enabled you have still to actively save the file for reformatting.

I tested the settings and I am fine with them, would be good to have them in the near future for the next changes ;)

[2022-03-09 08:20] GioCC commented on #159
Hmmm, never noticed that... not 100% sure, but I'd swear it works for me... I'll check.

Yes, that's something I'd like to rectify too. There's obviously a rule to it, but changing the order of includes might break compilation at times. Will look for that too..

[2022-03-09 15:44] DocMoebiuz commented on #165
oh wow. thanks.

[2022-03-17 15:32] tigert commented on #100
I flashed my old bootloader nano with commandline avrdude, and comparing to what Arduino IDE does versus what MopbiFlight Connector does, the difference seems to be this: -b57600 and -carduino - these work for my nano clonses.

To recap a bit of discussions on Discord arouind this topic, the most pressing issue is those nanos use the same VID/PID as most megas (its likely the CH340 serial chip tha

[2022-03-17 16:50] elral commented on #100
The old nano bootloader requires -b57600 where the new nano bootloader requires -b115200. All other parameters are the same as @tigert mentioned.

It seems indeed that some "testing" which board is present might be required.

[2022-04-04 16:47] #119 closed

[2022-04-19 13:52] elral opened #170 "Config gets not "resetted" if Input Shifter support is deactivated"
In config.cpp `configLength `and `configActivated `will be resetted only if `MF_INPUT_SHIFTER_SUPPORT == 1`

In `void resetConfig()` `configLength = 0;` and `configActivated = false;` must not be encapsulated with `MF_INPUT_SHIFTER_SUPPORT == 1`

[2022-04-23 09:40] GioCC opened #172 "Improvement of EEPROM/Config handling"
Slight improvement of code for EEPROM and config handling:
- removes burden of unnecessary parameter passing
- collects config parameters to a single struct for better encapsulation
- improves readability a little

[2022-04-23 18:25] GioCC opened #174 "Removal of the fixed per-device limit of configurable devices (and associated data structures)"
This issue refers to discussion #154.
Basically, the "index" arrays for each device type are suppressed, and devices are allocated completely in the already existing object  buffer.
This way, there is no longer a limit to the number of devices of a given type that can be allocated (e.g.: one can allocate exclusively shift registers, as many as the avaliable space allows). The max amounts need no l

[2022-04-24 09:17] #170 closed

[2022-05-06 15:44] DocMoebiuz opened #178 "LCDDisplay - Unescape String Arguments to allow comma and semicolon and slash"
Currently the characters that are same as message delimiter (";"), parameter delimiter (",") and escape character ("/") are not displayed correctly in the LCD.

See https://github.com/MobiFlight/MobiFlight-Connector/issues/301

[2022-05-07 06:27] #178 closed

[2022-05-08 08:54] elral opened #180 "Increase number of encoders for Uno and ProMicro"
As proposed in https://github.com/MobiFlight/MobiFlight-Connector/issues/784 the max. number of encoders could be increased to 9 to use all available pins from Uno ans ProMicro. This will require additional 8 Bytes which is OK due to all memory optimazations which were implemented in the past.

[2022-05-08 09:14] elral commented on #180
While checking the max. devices for the Uno and ProMicro, they still differ for some devices.

Uno:
#define MAX_STEPPERS        2
#define MAX_MFSERVOS        2
#define MAX_DIGIN_MUX       2

ProMicro:
#define MAX_STEPPERS        3
#define MAX_MFSERVOS        3
#define MAX_DIGIN_MUX       1

@MobiFlight-Admin @neilenns @GioCC should we harmonize it or leave it as it is? The required RAM consumption

[2022-05-08 10:45] elral commented on #180
Hmhm, for the Uno I have to do some math if max. devices will fit into the device buffer before changing!

[2022-05-09 10:51] elral commented on #180
Increasing the max. numbers of encoders to 9 should still fit into the device buffer. Same for the steppers and servos.

BUT, I tested it for the ProMicro and some strange things happen.
After configuring "some" encoders (the number of encoders are not always the same) the encoder do not work anymore until the ProMicro is hard resettet. A configured button is still working and the config can still

[2022-05-09 11:55] GioCC commented on #180
Hmmm... interesting. Is this specific for the ProMicro, though? (I imagine this should hold for a Uno too).

[2022-05-09 12:00] elral commented on #180
Can't answer this in the moment, I have to solder an encoder first to my Nano (don't own an Uno). Also an Uno makes an hard reset on reconnect, so difficult to find out. I have to use a terminal and do test it "by hand".

[2022-05-09 13:33] elral commented on #180
The device buffer gets not cleared if the config gets resetted. So after changing the config and uploading the new config some/all devices will not be loaded as the device buffer might not have enough space.

Without this bug 9 encoders are working properly.

[2022-05-09 14:01] elral opened #181 "Device Buffer get's not cleared if a config is uploaded"
If a config gets changed and uploaded, the existing config will be resetted, the changed config gets uploaded and at leat this "new" config gets loaded.
Within resetting the existing config, the device buffer gets not cleared and with loading the "new" config some/all devices will not fit into the remaining space of the device buffer and therefore not be loaded.

[2022-05-22 09:06] elral opened #184 "platformio.ini uses deprecated `src_filter`"
In the meantime `src_filter` which is used in the platformio.ini file is deprecated and gives a warning when firmware is compiled.

Replace `src_filter` by `build_src_filter` to avoid this warning.

[2022-05-26 08:09] #181 closed

[2022-05-26 08:11] #180 closed

[2022-05-26 08:12] #184 closed

[2022-06-08 05:22] elral opened #186 "Optimization of MFEEPROM class"
@GioCC did already some improvements to the MFEEPROM class, but they were reverted. While playing around with a Raspberry Pico I found additional topics:

1. If writing/reading a block of data to/from the eeprom while adressing the last memory location, the complete block gets not written/read.
2. `MFEEPROM` is defined as a global class which depends on another global class `EEPROM`. It can not be

[2022-06-10 06:08] elral opened #188 "Add firmware debug printouts to log in the UI"
Firmware printouts during debuging should show up in the log/terminal from the UI.
Until now they are marked as `kStatus` and they will not show.
A separate identifier should be choosen to mark them as debug info.

The connector must be changed accordingly, see issue #854 in the Connector repo

[2022-07-22 19:50] GioCC opened #190 "Improvements to config management functions"
At the start of the configuration upload process, the `ResetConfig` command from the connector immediately clears the device object variables (arrays and bulk storage area) and also "clears" the configuration stored in EEPROM (by zeroing the first byte) in the same place. The two operations, however, are completed in other functions at later moments; the call structure, while working as it is (rel

[2022-08-04 19:40] #188 closed

[2022-08-05 08:19] #186 closed

[2022-08-31 15:55] neilenns opened #192 "Update platformio.ini to remove deprecated config sections"

[2022-08-31 15:56] #192 closed

[2022-09-06 19:15] coreflighttech opened #193 "Stepper Motor is Holding the Current Position"
I'm using ULN2003 and 28BYJ-48 5V step motor driven by MF.
After working for a while, it gets too hot and draws the overcurrent until it burns.
Adding a function that does not hold the step motor can be a good idea because no gauge needs that holding torque.

[2022-09-15 15:55] DocMoebiuz opened #194 "Increase the supported Mux for Mega to 3 devices"
At the moment we can only add up to 2 16-bit Mux modules.
Tests have shown, that you can have 3 connected in a stable way.

So we can up increase the limit to 3 on the mega. Uno and Pro Micro can stay the same.

[2022-09-25 19:08] neilenns opened #195 "Broken image link for Open in VSCode"
Microsoft somehow broke their beautiful Open in VSCode badge. Now it's causing a broken image in the readme. Fix it.

[2022-09-30 12:57] neilenns opened #197 "Retrigger doesn't work for multiplexers"
https://github.dev/MobiFlight/MobiFlight-FirmwareSource/blob/5d1e90c821375ad134163542e1b5c957c75d1ba4/src/CommandMessenger.cpp#L104-L105

A call to OnTrigger() is missing from the above function

[2022-10-03 07:05] elral opened #200 "Mega get's sometimes not properly identified"
Sometimes the Mega (and I expect the same for the Uno) get's not properly identified from the connector. That means that:
* eeprom config
* serial number
* devices
can be misread (not always). This was found from @Jaime Leon and is reported on Discord.
He found also, that all switches put into OFF position helped for properly booting.

It seems that this behaviour is related to the initilisation o

[2022-10-03 07:27] #197 closed

[2022-10-03 08:11] GioCC commented on #200
OK, I will have a look as soon as I'm able. Probably the multiplexers require the exact same changes as the input shifters, so it would be useful to see how you implemented it in that case, in order to keep the two consistent.

[2022-10-03 13:10] neilenns opened #202 "Retrigger function does not initialize current value of analog potentiometers"
Firmware copy of https://github.com/MobiFlight/MobiFlight-Connector/issues/898

**Describe the bug**
The retrigger function does not initialize the current value of analog potentiometers position.

**Steps To Reproduce**
Steps to reproduce the behavior:

Start Mobiflight with a potentiometer config assigned to a light dimmer in the sim and pot in mid position.
Press the retrigger button
Note light

[2022-10-03 13:15] #202 closed

[2022-10-03 14:40] GioCC commented on #200
Not really sure if duplicating the shift register poll in the constructor is nice; also it's not consistent with the approach used for analog inputs (use the existing function by adding an argument  that says whether the change of value should trigger events).

[2022-10-03 16:22] GioCC commented on #200
How to proceed, should I open a different issue to to add the multiplexer fix, or should I reopen this?

[2022-10-03 16:55] elral commented on #200
I am fine with both with a tendency to reopen this issue.

[2022-10-04 07:14] elral commented on #200
Ups, I wasn't aware that you already changed the InputShifter Code. But good to see that we did nearly the same modifications...
[my follow up](https://github.com/MobiFlight/MobiFlight-FirmwareSource/compare/main...elral:MobiFlight-FirmwareSource:InputShifter_CodeHarmonization)

[2022-10-04 07:26] GioCC commented on #200
Yes, I basically copied how it was already in the multiplexer code, which I found had very little to add.

[2022-10-04 12:03] GioCC opened #204 "Cleanup of multiplexer device code"
Remove code that handles "lazy" mode from multiplexer to simplify and gain space.
That mode is not in use and neither was it going to be used anytime soon (or ever).
(PR is ready and will be pushed as soon as previous pending modifications are closed).

[2022-10-04 12:14] GioCC opened #205 "Move device names storage from RAM buffer to EEPROM"
Device names are currently copied to a RAM buffer when the configuration is loaded, and later retrieved from there when they have to be inserted in messages.
They could be retrieved directly from the EEPROM when required, allowing for 1500 bytes of RAM to be freed up with no penalty except a negligible increase of processing time.

_(This issue could later become irrelevant if/when names will be r

[2022-10-04 16:18] JaimeLeon2 opened #206 "Modular support for hardware devices"
There is probably no single Mobiflight board that will use all the support built into it.  Yet, I believe that the lack of memory space is hindering any future development.  It seems that a modular approach - where you can pick your devices that you want to use and build the firmware you need for the panel you plan - would greatly expand the flexibility.  A user may want to load a large module tha

[2022-10-04 20:02] #195 closed

[2022-10-05 19:58] GioCC commented on #194
Memory-wise, even increasing the max number to 6-4-6 (from 2-1-2) makes negligible difference.
Since they should be increased, is there any specific reason not to increase them by this much?

[2022-10-05 20:04] #190 closed

[2022-10-06 04:38] elral commented on #159
Do we have the common understanding that the merged file with the autoformatter settings are agreed?
What about the .h files, seems still not to work for me after a short test.

[2022-10-06 05:38] elral opened #207 "Eliminate the nameBuffer for freeing up additional RAM"
As discussed on Discord already the nameBuffer could be eliminated and instead of the name from an input device an "identifier" would be send. The connector have to know about the identifier and the relation to the input device name, therefore the user will not seen any differences. The benefit is that the nameBuffer stored in the RAM is not required anymore and additional RAM is available. Furthe

[2022-10-06 08:15] GioCC commented on #207
I repeat here the comment I made on Discord about the choice of the ID.
Unless there's some point I missed, using the Arduino pin number (data pin or first pin for multi-pin devices) as ID rather than the config order index would be more convenient.
In the firmware, the reference pin is readily available, while the config order index should be stored just for this purpose, wasting memory.
Besides

[2022-10-06 08:30] GioCC commented on #207
For outputs, the config order is more conveniently used as ID because it allows immediate addressing; otherwise, an additional lookup table (or a search) would be required in the firmware.
If it is paramount to keep the same criterion for inputs and outputs (which is admittedly desirable, although it has been peacefully different until now), it could be debated that in a typical installations ther

[2022-10-09 08:24] DocMoebiuz commented on #159
Important to agree on this @GioCC and @elral.

[2022-10-09 08:25] DocMoebiuz commented on #172
@GioCC please make sure to include `fixes #issue-number` in your comment in the PR

[2022-10-09 08:25] #172 closed

[2022-10-09 08:28] DocMoebiuz commented on #194
There is no specific reason. I think 4 per module is at the moment good enough, since they can only be used as buttons.
4-2-2 (mega, promicro, uno) or 4-3-3 is totally sufficient.

[2022-10-09 08:29] DocMoebiuz commented on #194
This requires a change on the connector too.

[2022-10-09 08:30] DocMoebiuz commented on #194
Goal would be to have this for Lelystad. I assigned it to you @GioCC, is that OK?

[2022-10-09 08:32] DocMoebiuz commented on #204
This statement indicates, that this change is not necessary. Please close this issue if there are no functional or non-functional reasons, @GioCC. Thanks!

[2022-10-09 08:33] DocMoebiuz commented on #205
we decided we won't do this, but change the way how the messages are structured. I will create a new issue for that.

[2022-10-09 08:33] #205 closed

[2022-10-09 08:34] DocMoebiuz commented on #205
@elral had already created the issue: https://github.com/MobiFlight/MobiFlight-FirmwareSource/issues/207

[2022-10-09 08:39] DocMoebiuz commented on #174
@elral can you please also comment on this? I think it would be great to have this.

Open questions:
* is actually no limitation for devices always sensible? Do we not also depend on refresh speed? I think it would be OK to not worry about this and leave it up to the user to decide what is acceptable.
* Does the UI need any modifications? Right now it knows that it cannot add an additional device.

[2022-10-09 08:43] DocMoebiuz commented on #206
@JaimeLeon2 Thanks for creating an explicit issue for this.
I think there are two aspects in here:

- Enable/disable certain devices to save RAM for other devices
- Allow for custom devices

Since it will involve the Connector too, i will mainly keep track of the progress in [MobiFlight-Connector](https://github.com/MobiFlight/MobiFlight-Connector).

Issue Custom Devices:
https://github.com/MobiFl

[2022-10-09 08:43] #206 closed

[2022-10-09 11:45] neilenns commented on #194
@DocMoebiuz You can assign this to me, I can do it today. It's pretty quick.

[2022-10-09 14:31] GioCC commented on #204
Having totally useless code lying around and wasting space is no concern?

[2022-10-09 17:21] DocMoebiuz commented on #194
cool

[2022-10-09 17:40] neilenns commented on #194
Too late, @GioCC already has a PR out 😂

[2022-10-09 18:14] #194 closed

[2022-10-09 18:18] DocMoebiuz commented on #204
It might have been already late when i read the description. Sorry. I must have read it totally wrong.

Code that is not used and will not be used any time soon can be removed of course to save memory space and reduce code size.

@GioCC go for it.

[2022-10-09 18:20] DocMoebiuz commented on #193
@coreflighttech - how are you powering the stepper? Is it an external supply with 5V?

[2022-10-09 18:37] coreflighttech commented on #193
@DocMoebiuz it's powered by Arduino 5V.

[2022-10-10 05:23] elral commented on #174
This would give complete flexibility to the user which and how much! devices he want to use on a board.
As every device is affected this will be a lot of changes and we should do tests before merging.
But I am also thinking about if processing time could be affected if e.g. a user defines on a Mega "a couple" of inputshifter/multiplexer. Do we want to allow a mega with input shifters on all pins?

[2022-10-10 07:33] GioCC commented on #204
No problem, that just seemed a little odd. I'll file the PR.
Thanks

[2022-10-10 08:18] GioCC commented on #174
I fully second all of @elral 's comments. Even though we of course don't want to allow a mega with input shifters on all pins, and however unlikely we assume that to be, this would be definitely a possibility unless restrained.
"Heavy" peripherals like LCDs could probably be limited to a reasonable number anyway (whether that means keeping the current storage implementation or handling them the ne

[2022-10-10 08:32] GioCC commented on #174
And another point I'd like to stress once more (even though obvious): this modification is not quite trivial, therefore it would require an additional testing effort. Nothing groundbreaking, but a little more attention and trial time are in order.

Besides, I closed the initial (draft) PR a few days ago because it was going very out of sync with the main branch; if there is further interest in eva

[2022-10-10 08:34] elral commented on #174
Regarding the encoders there cold be a solution, but I guess Sebastian is not really happy with this ;)
I proposed it some month ago to read the encoders within an ISR, so they get read every 1ms unrelated to any device which might take longer in execution. But this would mean up to split the encoder routine into just reading the inputs and evaluating the changes within a separate function which i

[2022-10-10 08:45] GioCC commented on #174
That would be an interesting solution, definitely it would be a clear advantage with regard to scan time consistency.
However I'm still bothered with the issue of sparse connection: as long as encoders are limited to direct pins (which could be an option) I think it would be good, but if we are interested in allowing encoders to be connected to Shifters/Muxes (are we?), things would become quickly

[2022-10-10 08:58] elral commented on #174
Maybe we should first try to evaluate what the max. numbers of devices could be. And in a next step to "calculate" the required memory consumption if we stay with the existing arrays while increasing the size to the max. devices. Then we can compare it to the memory required which this change need (I think there will be some, didn't look into GioCC code for a longer time) and decide, if the effort

[2022-10-10 09:24] GioCC commented on #174
I don't know if this comparison is really useful. There is _very_ little additional RAM usage (almost negligible IIRC), but the same amount of memory would allow even a large difference in the number of devices. For a first estimate, assume no additional RAM required (or, like, two bytes for each device, to be on the safe side), and imagine e.g. removing the RAM of LCD, steppers and servos and fil

[2022-10-12 05:09] elral commented on #200
I reopen this issue because for the AnalogIn the start up value is not set to the actual value.

[2022-10-12 07:27] GioCC commented on #200
@elral shouldn't this be more related to #202?

[2022-10-12 08:48] elral commented on #200
Hmhm, #202 deals with the retrigger function, this issue with avoiding serial messages on initial startup by initialising the device with it's status on startup (more explanations above). So I think it belongs to this issue.

I wrote:

but there is some more missing. Within the constructor `_lastValue` is set to `0` and in the first loop a change is detected as the averageBuffer is set to the actu

[2022-10-12 13:45] GioCC commented on #200
@elral Oh, I see it now - I was mistaken by focusing on the retrigger (which would set `_lastValue` correctly), but I missed the fact that the update loop starts _before_ a retrigger is requested.
But as I understand it, the problem should be that a (correct but) unwanted message is generated, not that the initial value sent is different from the actual value, is that correct?

[2022-10-12 14:02] GioCC opened #211 "Change constant for averaging buffer size of analog inputs"
Currently, two independently defined constants are used:
[code]
These should be bound to the same value, in order to avoid accidental misalignments:
[code]

[2022-10-13 04:40] elral commented on #211
Great! I was always thinking the other way round, how to get the logN. But in this direction there is no preprocessor directive.

[2022-10-13 04:44] elral commented on #200
Yes.

First thread describes the problem. I see an issue also the right place to discuss (possible) solution(s).

[2022-10-13 18:17] #204 closed

[2022-10-13 18:21] #200 closed

[2022-10-20 04:36] elral commented on #211
@GioCC is it OK that I have assigned you?

[2022-10-20 05:40] GioCC commented on #211
Sure, of course!

[2022-10-24 09:34] elral commented on #211
@GioCC looking on your proposal, the comment `// must be 2^n` could be deleted. Maybe an additional comment behind `#define ADC_MAX_AVERAGE_LOG2 3` might be sensefull to explain that this means an average buffer of 8 byte.

[2022-10-24 09:42] elral opened #216 "Small RAM saving"
For now `MOBIFLIGHT_TYPE`  is stored in the RAM via `const char type[sizeof(MOBIFLIGHT_TYPE)] = MOBIFLIGHT_TYPE;`.
The type is only send to the connector and not used anymore. So it could be stored in the flash.

In `void restoreName()` a char array of 1 is defined which is not needed, MFeeprom.read_char() could be used.

[2022-10-26 06:47] GioCC commented on #159
@DocMoebiuz @elral @neilenns Guys, do you think we can close this issue considering the file already in the repo as accepted? Are there any other questions/issues?

[2022-10-26 12:26] elral commented on #159
For me it is fine, I checked also that the .h files are working for me.
However, this will us not protect against having changes on not changed code parts. If we add e.g. `#define EXAMPLE_TEST 200` to a `#define EXISTING 66`, then `#define EXISTING` gets filled up with spaces.
This will happen also on other parts.

It was merged with PR #167

[2022-10-26 15:05] GioCC commented on #159
@elral exactly, good catch. The PR was about reformatting, so I guess I thought at the time that it would be advisable to have a formally defined setup, exploiting the capabilities of VSCode; regarding its rules, it has been pending explicit approval since then.
I took that merging the PR was a sort of approval, although of course I'd be happier if this were finally and clearly agreed.

Regarding

[2022-11-07 18:47] tigert commented on #202
I am not sure if this actually works right currently. I set a value via pot, quit mobiflight, and move the pot to a different position, and restart mobiflight - and the value stays in the old setting until I move the potentiometer (unless it has a high sensitivity setting and it jitters on its own which naturally triggers an event but is not going to help for stable pots or hall sensors)

[2022-11-08 09:20] GioCC commented on #202
Thanks for the heads-up, I'll have a look as soon as I'm able.

[2022-11-08 10:32] GioCC commented on #202
I just had a quick look at the Connector's code; as I recall, I would expect a Retrigger command to be issued as soon as the Connector is set to run (or possibly when a configuration is loaded), but I can't seem to find it. The only point where this happens, if I'm not mistaken, is when a `RetriggerInputAction` is created following a configuration setting in an XML file.
Can anybody with a better

[2022-11-08 12:24] neilenns commented on #202
Agreed @GioCC from my look at the Connector code as well

[2022-11-08 12:59] GioCC commented on #202
Thanks @neilenns, although this is one of those cases I'd have preferred to be proven wrong... 😅
I think I'll have to follow more closely what happens during startup as soon as I can have a board setup before me.

[2022-11-22 20:26] DocMoebiuz opened #220 "Improved stepper support"
- [x] Stepper is configurable by new parameters:
      * Type: 4-Wire Full Step, 4-Wire Half Step vs Driver
      * Speed - The maximum speed that the stepper supports
      * Acceleration - The acceleration value
      * Backlash - number of steps for compensation of backlash on direction change
      * AutoDisable - pins are not energized automatically once the target position is reached
      *

[2022-11-23 14:19] elral opened #221 "EEPROM optimisation"
There could be some smaller optimisations in the EEPROM class.
Mostly for reading from EEPROM a byte is required, but we are reading a char.
Reading/saving a complete array is not foreseen, but might be required for future use (e.g. reading/saving a struct).